<!-- hero -->
<section class="hero sect">
  <div class="container gb-flex-content">
    <div class="hero-details gb-flex-details">
      <h1 class="gb-flex-details-title">Buy bitcoin and crypto instantly!</h1>
      <p class="paragh">
        Metrocrypto is a simple, elegant, and secure platform to build your
        crypto portfolio.
      </p>
      <button class="btn prim-btn dis-flex">Get Started Now</button>
    </div>
    <div class="gb-flex-img">
      <video
        poster="https://www.gemini.com/_next/static/images/crypto-on-the-go-cc8d94b5883d386291873b80281e4489.png.webp"
        playsinline=""
        autoplay=""
        muted=""
        loop=""
        preload="none"
      >
        <source
          src="../../../assets/videos/gemini-phone.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>

<!-- Credit cards -->
<section class="sect gb-credit-cards">
  <div class="container gb-flex-content row-reverse">
    <div class="gb-flex-details">
      <h2 class="gb-flex-details-title">
        Introducing the Metrocrypto Credit Card™
      </h2>
      <ul>
        <li>
          <img src="../../../assets/img/svg/check-icon-black.svg" alt="" />
          <p>Up to 3% back on purchases</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/check-icon-black.svg" alt="" />
          <p>Earn rewards in bitcoin or 50+ other cryptos</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/check-icon-black.svg" alt="" />
          <p>No annual fee <sup>1</sup></p>
        </li>
        <li>
          <small
            ><sup>1</sup>Subject to cardholder and rewards terms which will be
            available at application.</small
          >
        </li>
      </ul>
      <button class="btn sec-btn dis-flex">Join the waitlist</button>
    </div>
    <div class="gb-flex-img">
      <!-- <img src="../../../assets/img/home/Group1.png" alt="image" /> -->
      <video
        poster="../../../assets/img/cards.PNG"
        autoplay=""
        muted=""
        loop=""
        preload="none"
      >
        <source src="../../../assets/videos/reveal-trio.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>

<!-- Earn -->
<section class="gb-earn">
  <div class="container gb-flex-content">
    <div class="gb-flex-details">
      <img src="../../../assets/img/svg/earn.svg" class="earn-icon" alt="" />
      <h2 class="gb-flex-details-title">Earn Up to 8.05% APY</h2>
      <p>More than 100x the average national interest rate</p>
      <button class="btn sec-btn dis-flex">Learn More</button>
    </div>
    <div class="gb-flex-img">
      <img src="../../../assets/img/gemini-earn-iphone.jpg" alt="image" />
    </div>
  </div>
</section>

<!-- Nifty -->
<section class="sect gb-nifty">
  <div class="container gb-flex-content row-reverse">
    <div class="gb-flex-details">
      <h2 class="gb-flex-details-title">Buy and sell NFTs on Nifty Gateway</h2>
      <p>
        A non-fungible token (NFT) is digital art on the blockchain—the latest
        trend in crypto. Nifty Gateway is owned by Metrocrypto, so you can
        expect the same industry-leading crypto security for your NFTs.
      </p>
      <button class="btn sec-btn dis-flex">Get Nifty</button>
    </div>
    <div class="gb-flex-img">
      <img src="../../../assets/img/homepage-nifty-icon.png" alt="image" />
    </div>
  </div>
</section>

<!-- Tools -->
<section class="sect gb-tools">
  <div class="container gb-flex-content">
    <div class="gb-flex-details">
      <h2 class="gb-flex-details-title">
        Tools for beginners and active traders
      </h2>
      <p>
        Whether you’re an experienced trader or just getting started,
        Metrocrypto has all the tools you need to buy, sell, and store your
        crypto. Maximize your trading strategies with ActiveTrader.
      </p>
      <button class="btn sec-btn dis-flex">Learn More</button>
    </div>
    <div class="gb-flex-img">
      <img src="../../../assets/img/tools.webp" alt="image" />
    </div>
  </div>
</section>

<!-- Simple way -->
<section class="sect gb-simple gb-dark-bg">
  <div class="container gb-flex-details">
    <h2 class="gb-flex-details-title">
      A simple, secure way to buy and sell cryptocurrency
    </h2>
    <p>Trade bitcoin and other cryptos in 3 minutes.</p>
    <button class="btn tert-btn">Get started</button>
  </div>
</section>
