<footer>
  <div class="container">
    <div class="links">
      <h5 class="links-header">Company</h5>
      <ul>
        <li routerLink="/about">About us</li>
        <li routerLink="/blog">Blog</li>
        <li routerLink="/careers">Careers</li>
        <li routerLink="/security">Security</li>
      </ul>
    </div>

    <div class="links">
      <h5 class="links-header">Products</h5>
      <ul>
        <li routerLink="/about">Metrocrypto</li>
        <li routerLink="/about">Metrocrypto Earn®</li>
        <li routerLink="/about">Metrocrypto Credit Card</li>
        <li routerLink="/services">Metrocrypto ActiveTrader®</li>
        <li routerLink="/services">Metrocrypto Mobile</li>
      </ul>
    </div>

    <div class="links">
      <h5 class="links-header">Support</h5>
      <ul>
        <!-- <li>Who we are</li> -->
        <li routerLink="/about">Help Center</li>
        <li routerLink="/contact">Contact Us</li>
        <li routerLink="/about">System Status</li>
        <li routerLink="/services">Areas of Availability</li>
      </ul>
    </div>

    <div class="links">
      <h5 class="links-header">Links</h5>
      <ul>
        <li routerLink="/price">Prices</li>
        <li routerLink="/institutions">Institutions</li>
        <li routerLink="/about">Refer a Friend</li>
        <li routerLink="/about">Legal Agreements</li>
        <li routerLink="/services">Privacy Policy</li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
  <div class="container">
    <p class="copyright">
      © Copyright {{ currentYear }} Metrocrypto Trust Company, LLC..
    </p>
  </div>
</footer>
