<!-- Section -->
<section class="sect prices">
  <div class="container">
    <div class="header">
      <h1>Cryptocurrency Prices</h1>
      <p>We're having trouble loading price data, please check back later.</p>
    </div>
    <div class="body">
      <div class="table">
        <div class="table-head table-row">
          <span class="table-head-item item">Name</span>
          <span class="table-head-item item">Price</span>
          <span class="table-head-item item">24hr change</span>
          <span class="table-head-item item">%change</span>
          <span class="table-head-item item">Market cap</span>
        </div>
        <div class="table-body">
          <div class="table-list table-row">
            <span class="table-list-item item name dis-flex">
              <img src="../../../assets/img/svg/btc.svg" alt="" />
              <span>
                <h4>Bitcoin</h4>
                <p class="uc">Btcusd</p>
              </span>
            </span>
            <span class="table-list-item item"> Price </span>
            <span class="table-list-item item image">Yes</span>
            <span class="table-list-item item action"> Yes </span>
            <span class="table-list-item item action">
              <button class="btn prim-btn">Buy</button></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
