<section class="sect institute-hero">
  <div class="container">
    <div class="">
      <p class="">Institutional solutions</p>
      <h1 class="institute-hero-heading">
        Metrocrypto is the leading crypto-native platform serving
        <i>assest manager</i>
      </h1>
      <button class="btn tert-btn">Open an institutional account</button>
    </div>
  </div>
</section>

<!-- Institutions Services -->
<section class="sect institute-services">
  <div class="container">
    <div class="gb-card">
      <div class="gb-item">
        <div class="gb-item-details">
          <picture class="">
            <img
              src="../../../assets/img/institutionals/assets.svg"
              alt="image"
            />
          </picture>
          <div class="">
            <h5 class="">Asset managers</h5>
            <p>
              Metrocrypto Fund Solutions is a full-stack platform built to provide
              fund managers with crypto custody, clearing, and trade execution
              services all in one place.
            </p>
            <span class="learn-more clickable">Learn more</span>
          </div>
        </div>
      </div>
      <div class="gb-item">
        <div class="gb-item-details">
          <picture class="">
            <img
              src="../../../assets/img/institutionals/corporations.svg"
              alt="image"
            />
          </picture>
          <div class="">
            <h5 class="">Corporations</h5>
            <p>
              Metrocrypto’s platform is designed to help public and private companies
              buy and hold crypto and incorporate it into their businesses.
            </p>
            <span class="learn-more clickable">Learn more</span>
          </div>
        </div>
      </div>
      <div class="gb-item">
        <div class="gb-item-details">
          <picture class="">
            <img
              src="../../../assets/img/institutionals/liquidity.svg"
              alt="image"
            />
          </picture>
          <div class="">
            <h5 class="">Liquidity providers</h5>
            <p>
              Advanced tools for trading crypto and price discovery built on
              institutional-grade infrastructure that is reliable and secure.
            </p>
            <span class="learn-more clickable">Learn more</span>
          </div>
        </div>
      </div>
      <div class="gb-item">
        <div class="gb-item-details">
          <picture class="">
            <img
              src="../../../assets/img/institutionals/wealth.svg"
              alt="image"
            />
          </picture>
          <div class="">
            <h5 class="">Wealth managers</h5>
            <p>
              Metrocrypto's wealth management solution allows investment managers to
              incorporate crypto into their client portfolio allocation.
            </p>
            <span class="learn-more clickable">Learn more</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sect institute-about">
  <div class="container">
    <div class="heading">
      <h2>About Metrocrypto</h2>
      <p>
        Metrocrypto is a regulated, crypto-native exchange and custodian, offering a
        full spectrum of turn-key cryptocurrency products and services. Metrocrypto
        Trust Company, LLC is a New York trust company that is a fiduciary and
        subject to the capital reserve requirements, cybersecurity requirements,
        and banking compliance standards set forth by the New York State
        Department of Financial Services (NYDFS) and the New York Banking Law.
      </p>
      <p>
        Metrocrypto is the only crypto platform in the world to have completed SOC 1
        Type 2 and SOC 2 Type 2 examinations for both our exchange and custody
        products. These examinations were performed by Deloitte & Touche LLP.
        Discover how Metrocrypto can meet your needs. For more information please
        contact: sales@metrocryptoexchange.com.
      </p>
    </div>
    <div class="body gb-flex-content">
      <div class="body-col-1">
        <div class="body-col-1-item">
          <h5 class="">Best-in-class trading</h5>
          <p>
            Metrocrypto’s exchange services provide best-in-class trading technology
            for both institutional and individual investors.
          </p>
        </div>
        <div class="body-col-1-item">
          <h5 class="">Leading insurance coverage</h5>
          <p>
            Metrocrypto maintains $290M in digital asset insurance in addition to the
            capital reserve requirements set forth by NYDFS.
          </p>
        </div>
        <div class="body-col-1-item">
          <h5 class="">Unrivaled knowledge and client service</h5>
          <p>
            The Metrocrypto team has deep expertise in crypto, traditional capital
            markets, security, and technology, which allows us to partner with
            institutional clients and deliver solutions that meet their unique
            requirements and objectives.
          </p>
        </div>
      </div>
      <div class="body-col-2">
        <div class="body-col-2-item soc-iso dis-flex">
          <img src="../../../assets/img/cryptosecurity-soc-logo.png" alt="" />
          <p>
            SOC 1 Type 2 and SOC 2 Type 2 certification performed by Deloitte &
            Touche LLP
          </p>
        </div>
        <div class="body-col-2-item soc-iso dis-flex">
          <img src="../../../assets/img/iso-certified.svg" alt="" />
          <p>
            ISO/IEC 27001 Information Security Management System (ISMS) by
            Coalfire
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Exchange -->
<section class="sect exchange">
  <div class="container">
    <div class="exchange-card">
      <div class="exchange-item">
        <img
          src="../../../assets/img/institutionals/market-choice.webp"
          alt=""
        />
        <p>2019 Markets Choice Awards</p>
        <h5>Best Cryptocurrency Exchange</h5>
      </div>
      <div class="exchange-item">
        <img
          src="../../../assets/img/institutionals/crypto-compare.webp"
          alt=""
        />
        <p>2020 CryptoCompare Exchange</p>
        <h5>#1 Cryptocurrency Exchange</h5>
      </div>
      <div class="exchange-item">
        <img src="../../../assets/img/institutionals/crypto-am.svg" alt="" />
        <p>2020 Crypto AM Awards</p>
        <h5>Best Custody Exchange</h5>
      </div>
    </div>
  </div>
</section>
