<div class="auth-container">
  <div class="auth-form-area">
    <span class="logo">
      <img
        src="../../../assets/img/favicon.ico"
        alt=""
        class="clickable"
        routerLink="/"
      />
    </span>
    <h2 class="auth-form-area-title">Sign in to Metrocrypto</h2>
    <form (ngSubmit)="signin()" [formGroup]="signinForm">
      <div class="form-field">
        <label for="email">Email Address</label>
        <div class="input-field">
          <input type="email" autocomplete="email" formControlName="email" />
        </div>
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <div class="input-field dis-flex">
          <input
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <img
            [src]="
              hide
                ? '../../../assets/img/svg/bx-show.svg'
                : '../../assets/img/svg/bx-hide.svg'
            "
            class="clickable"
            (click)="hide = !hide"
          />
        </div>
      </div>
      <span class="error-message rc" [class.show]="showError">{{
        errorMessage
      }}</span>
      <div class="form-footer dis-flex">
        <button class="btn prim-btn">
          <span *ngIf="loading">Loading...</span>
          <span *ngIf="!loading">Sign in</span>
        </button>
        <div class="form-footer-extra">
          <p class="clickable" routerLink="/auth/signup">Create new account</p>
          <p class="clickable">Rest your password</p>
        </div>
      </div>
    </form>
  </div>
</div>
